:root {
  --color-background: #353540;
  --color-primary: #2b2b36;
  --color-secondary: #21222c;
  --color-tertiary: #15151b;
  --color-text-primary: #ffffff;
  --color-accent: #00ba7c;
}

.theme-white {
  --color-background: #ffffff;
  --color-primary: #f7f7f7;
  --color-secondary: #ededed;
  --color-tertiary: #dcdcdc;
  --color-text-primary: #000014;
  --color-accent: #00ba7c;
}

* {
  font-family: "IBM Plex Mono", montserrat, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  overflow-x: hidden;
}

#root {
  width: 100%;
}